# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml


############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3
*.heapsnapshot


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
config.ts
dist/
.vs/
.idea/
*.iml

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history
package-lock.json
.yarn/install-state.gz
.yarn/build-state.yml

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
license.txt
exports
*.cache
build
.strapi-updater.json
